@import (less) '_variables.less';

.main-section {
    margin-bottom: 20px;

    @media @desktop_mf {
        margin-bottom: 120px;
    }
}

.breadcrumbs {
    margin: 15px 0;

    @media @desktop_mf {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    &__items {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        display: inline-block;
        text-decoration: none;
    }

    &__link {
        color: @red;

        &_active {
            text-decoration: none;
            color: @black;
            cursor: default;
        }
    }
}

.product {
    &__wrap {
        display: flex;
        flex-direction: column;

        @media @desktop_mf {
            flex-direction: row;
        }
    }

    &__photo {
        @media @desktop_mf {
            width: 50%;
        }
    }

    &__img {
        width: 100%;
        display: none;

        &_active {
            display: block;
        }
    }

    &__info {
        margin-top: 15px;

        @media @desktop_mf {
            width: 50%;
            padding-left: 65px;
            box-sizing: border-box;
        }
    }

    &__name {
        display: block;
        margin-bottom: 15px;
        text-align: center;

        @media @desktop_mf {
            text-align: left;
        }
    }

    &__description,
    &__price {
        margin-bottom: 30px;
    }

    &__price {
        text-align: center;

        @media @desktop_mf {
            text-align: left;
        }
    }

    &__name-text {
        margin: 0;
    }

    &__name-text,
    &__price-text {
        font-weight: 700;
        font-size: 20px;

        @media @desktop_mf {
            font-size: 36px;
        }
    }

    &__price-text {
        color: @red;
        font-size: 24px;
    }
}

.property-section {
    margin-bottom: 30px;

    &__wrap {
        display: flex;
        justify-content: center;

        @media @desktop_mf {
            justify-content: space-between;
        }
    }

    &__items {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }

    &__text {
        display: block;
        margin-bottom: 15px;
    }
}

.color__item,
.size__item {
    text-decoration: none;
    width: 50px;
    height: 50px;
    border: 1px solid @black;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    box-sizing: border-box;
    color: @black;
    display: flex;
    justify-content: center;
    align-items: center;

    @media @desktop_mf {
        width: 65px;
        height: 65px;
        font-size: 36px;
        margin-right: 10px;
    }

    &_active {
        cursor: default;
        border-color: @red;
        outline: 2px solid @red;
    }
}

.color__item {
    &-yellow {
        background: @yellowshirt;
    }

    &-green {
        background: @greenshirt;
    }
}

.buy-section {
    margin-bottom: 30px;
    text-align: center;

    @media @desktop_mf {
        text-align: left;
    }

    &__btn {
        border: none;
        background: @red;
        height: 50px;
        width: 100%;
        cursor: pointer;
        outline: none;

        @media @desktop_mf {
            height: 80px;
            width: 202px;
        }

        &-text {
            color: @white;
            font-weight: 400;
            font-size: 24px;

            @media @desktop_mf {
                font-size: 36px;
            }
        }
    }
}

.hold-section {
    display: flex;
    margin-top: 10px;
    justify-content: center;

    @media @desktop_mf {
        justify-content: flex-start;
    }

    &__img {
        height: 25px;
        margin-right: 7px;
    }

    &__link {
        color: @gray;
        display: inline-block;
    }

    &__wrap {
        margin: auto 0;
    }
}
