@import (less) '_variables.less';

.product {
    margin-bottom: 120px;

    &__way {
        margin-top: 50px;
        margin-bottom: 20px;

        @media @tablet {
            margin-top: 16px;
            margin-bottom: 16px;
        }

        @media @phone-landscape {
            font-size: 14px;
        }

        @media @phone-portrait {
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        @media @phone {
            font-size: 10px;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }

    &__items {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        display: inline-block;
        text-decoration: none;
    }

    &__link {
        color: @red;

        &_active {
            text-decoration: none;
            color: @black;
            cursor: default;
        }
    }

    &__wrap {
        display: flex;
    }

    &__photo {
        width: 50%;
    }

    &__img {
        width: 100%;
        display: none;

        &_active {
            display: block;
        }
    }

    &__info {
        width: 50%;
        padding-left: 65px;
        box-sizing: border-box;

        @media @tablet {
            padding-left: 45px;
        }

        @media @phone-landscape {
            padding-left: 30px;
        }

        @media @phone-portrait {
            padding-left: 15px;
        }

        @media @phone {
            padding-left: 10px;
        }
    }

    &__name,
    &__size-text,
    &__color-text {
        display: block;
        margin-bottom: 15px;

        @media @phone-landscape {
            margin-bottom: 10px;
        }

        @media @phone-portrait {
            margin-bottom: 5px;
        }
    }

    &__description,
    &__price,
    &__size,
    &__color,
    &__buy {
        margin-bottom: 30px;

        @media @tablet {
            margin-bottom: 15px;
        }

        @media @phone-landscape {
            margin-bottom: 10px;
        }

        @media @phone-portrait {
            margin-bottom: 7px;
        }

        @media @phone {
            margin-bottom: 5px;
        }
    }

    &__name-text {
        margin: 0;
    }

    &__name-text,
    &__price-text,
    &__buy-text {
        font-weight: 700;
        font-size: 36px;

        @media @tablet {
            font-size: 22px;
        }

        @media @phone-landscape {
            font-size: 18px;
        }

        @media @phone-portrait {
            font-size: 14px;
        }

        @media @phone {
            font-size: 11px;
        }
    }

    &__price-text {
        color: @red;
    }

    &__description-text,
    &__hold-text {
        @media @tablet {
            font-size: 12px;
        }

        @media @phone {
            font-size: 10px;
        }
    }

    &__description-text {
        @media @phone-portrait {
            display: none;
        }
    }

    &__size-text,
    &__color-text {
        display: none;
    }

    &__buy {
        &-btn {
            border: none;
            background: @red;
            height: 80px;
            width: 202px;
            cursor: pointer;
            outline: none;

            @media @tablet {
                height: 50px;
                width: 180px;
            }

            @media @phone-landscape {
                height: 40px;
                width: 150px;
            }

            @media @phone-portrait {
                height: 36px;
                width: 137px;
            }

            @media @phone {
                height: 30px;
                width: 120px;
            }
        }

        &-text {
            color: @white;
            font-weight: 400;
        }
    }

    &__hold {
        display: flex;
        margin-top: 10px;

        &-img {
            height: 25px;
            margin-right: 7px;

            @media @tablet {
                height: 20px;
            }

            @media @phone-landscape {
                margin-right: 10px;
            }

            @media @phone-portrait {
                height: 16px;
                margin-right: 7px;
            }

            @media @phone {
                height: 12px;
            }
        }

        &-link {
            color: @gray;
            display: inline-block;
        }

        &-text {
            @media @phone {
                position: relative;
                bottom: 5px;
            }
        }

        &-wrap {
            margin: auto 0;
        }
    }
}

.size__wrap,
.color__wrap {
    display: flex;
}

.size__items,
.color__items {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.size__item,
.color__item {
    text-decoration: none;
    display: inline-block;
    width: 65px;
    height: 65px;
    border: 1px solid @black;
    margin-right: 10px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    font-size: 36px;
    box-sizing: border-box;
    color: @black;

    &_active {
        cursor: default;
        border: 3px solid @red;
        padding: 8px 0;

        @media @tablet {
            border: 2px solid @red;
            padding: 9px 0;
        }

        @media @phone {
            border: 1px solid @red;
            padding: 10px 0;
        }
    }

    @media @tablet {
        width: 50px;
        height: 50px;
        font-size: 22px;
    }

    @media @phone-landscape {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    @media @phone-portrait {
        width: 36px;
        height: 36px;
    }

    @media @phone {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
}

.color__item {
    &-yellow {
        background: @yellowshirt;
    }

    &-green {
        background: @greenshirt;
    }
}
