@import (less) '_variables.less';

.header-wrap {
    height: 88px;
    display: flex;
}

.header__block {
    width: 33%;
    margin: auto;
}

.logo-shop {
    &__link {
        display: inline-block;
    }

    &__img {
        height: 24px;
    }
}

.logo-oggetto {
    text-align: center;

    &__link {
        display: inline-block;
    }

    &__img {
        height: 50px;
    }
}

.block-phone {
    text-align: right;

    &__text {
        text-decoration: none;
        color: @red;
        font-weight: 700;
        font-size: 24px;
        display: inline-block;
    }
}

.navigation-wrap {
    height: 50px;
    background-color: @beige;
    border-top: 1px solid @darkbeige;
    border-bottom: 1px solid @darkbeige;
}

.navigation {
    display: inline-block;

    &__items {
        margin: 16px 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        display: inline-block;
        margin-right: 20px;
    }

    &__link {
        color: @red;

        &_active {
            color: @black;
            text-decoration: none;
            font-weight: 700;
        }
    }
}

.form-search {
    float: right;

    &__input {
        margin: 7px 0;
        height: 36px;
        width: 278px;
        vertical-align: middle;
        box-sizing: border-box;
        background-color: @white;
        background-image: url('../img/icons/search.svg');
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 15px;
        border: 1px solid @darkbeige;
        padding: 0 30px 0 10px;
    }
}
