@import 'media';
@import (less) 'node_modules/normalize.css/normalize.css';
//color
@white: #fff;
@black: #000;
@red: #cc0000;
@beige: #f2f2ed;
@gray: #999;
@yellowshirt: #e3d95e;
@grayshirt: #a5af96;
//fonts
@roboto: 'Roboto', sans-serif;

body {
    background: @white;
    font-family: @roboto;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 15px;
    box-sizing: border-box;
    &__header {
        display: flex;
        justify-content: space-between;
        height: 87px;
    }
}

.header {
    &__block {
        width: 33%;
        margin: auto;
    }
    &__block-oggetto {
        text-align: center;
    }
    &__block-phone {
        text-align: right;
    }
    &__logo-oggetto {
        height: 50px;
    }
    &__logo-shop {
        height: 24px;
    }
    &__logo-link{
        display: inline-block;
    }
    &__text-phone {
        color: @red;
        font-weight: 700;
        font-size: 24px;
    }
}

.navigation {
    height: 50px;
    background-color: @beige;
    &__items,
    &__item,
    &__search {
        display: inline-block;
    }
    &__items {
        padding: 0;
    }
    &__item {
        margin-right: 20px;
        text-decoration: none;
    }
    &__text {
        font-size: 16px;
        color: @red;
        &_active {
            text-decoration: none;
            color: @black;
            font-weight: 700;
            cursor: default;
        }
    }
    &__search {
        float: right;
        margin: 7px 0;
        height: 36px;
        width: 278px;
        vertical-align: middle;
        box-sizing: border-box;
        background: url("../img/icons/search.svg") no-repeat;
        background-size: 15px;
        background-position-x: 250px;
        background-position-y: center;
    }
}

.product {
    margin-bottom: 120px;
    &__way {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    &__items {
        padding: 0;
    }
    &__item {
        display: inline-block;
        text-decoration: none;
    }
    &__link {
        color: @red;
        text-decoration: none;
        &_active {
            text-decoration: none;
            color: @black;
            cursor: default;
        }
    }
    &__wrap {
        display: flex;
    }
    &__photo {
        width: 50%;
    }
    &__img {
        width: 100%;
    }
    &__info {
        width: 50%;
        padding-left: 65px;
        box-sizing: border-box;
    }
    &__name,
    &__size-text,
    &__color-text {
        display: block;
        margin-bottom: 15px;
    }
    &__description,
    &__price,
    &__size,
    &__color,
    &__buy {
        margin-bottom: 30px;
    }
    &__name-text{
        margin:0;
    }
    &__name-text,
    &__price-text,
    &__buy-text {
        font-weight: 700;
        font-size: 36px;
    }
    &__description-text,
    &__size-text,
    &__color-text,
    &__hold-text {
        font-size: 16px;
    }
    &__price-text {
        color: @red;
    }
    &__buy {
        &-btn {
            border: none;
            background: @red;
            height: 80px;
            width: 202px;
            cursor: pointer;
            outline: none;
        }
        &-text {
            color: @white;
            font-weight: 400;
        }
    }
    &__hold {
        display: flex;
        &-img {
            height: 25px;
            margin-right: 7px;
        }
        &-link {
            color: @gray;
        }
        &-wrap {
            margin: auto 0;
        }
    }
}
.size__wrap,
.color__wrap {
    display: flex;
}
.size__items,
.color__items {
    padding: 0;
    margin: 0;
}
.size__item,
.color__item {
    text-decoration: none;
    display: inline-block;
    width: 65px;
    height: 65px;
    border: 1px solid @black;
    margin-right: 10px;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
        &-link {
            text-decoration: none;
            display: inline-block;
        }
}
.size__item-text {
    font-size: 36px;
    color: @black;
}

.size__item_active,
.color__item_active {
    cursor: default;
    border: 3px solid @red;
    padding: 8px 0;
}
.color__item {
    &-yellow {
        background: @yellowshirt;
    }
        &-gray {
            background: @grayshirt;
        }
}

.footer {
    background: @beige;
    border-top: 1px solid darken(@beige, 20%);
    &__main {
        display: flex;
        justify-content: space-between;
    }
    &__section {
        margin-top: 65px;
    }
    &__caption {
        margin:0;
        margin-bottom: 25px;
        font-size: 16px;
    }

    &__social {
        width: 10%;
        text-align: right;
    }
    &__cellar {
        display: block;
        border-top: 1px solid darken(@beige, 20%);
        padding-top: 25px;
        padding-bottom: 100px;
        margin-top: 100px;
    }
    &__text {
        margin: 0;
        font-size: 14px;
        line-height: 2;
    }
}

.block {
    &__wrap {
        display: flex;
    }
    &__items {
        padding: 0;
        margin: 0;
        &-company_primary li{
            margin-right: 100px;
        }
        &-service_primary li {
            margin-right: 55px;
        }
    }
    &__item {
        list-style-type: none;
        font-size: 14px;
        &-link {
            text-decoration: none;
            color: @black;
        }
        &-text {
            line-height: 1.5;
        }
        &-social,
        &-advantages {
            margin-bottom: 25px;
        }
        &-advantages {
            display: flex;
            &-img{
                margin-right: 15px;
                &_heart {
                    position: relative;
                    left: 23px;
                }
                &_cup {
                    position: relative;
                    left: 27px;
                }
            }
            &-text {
                margin: auto 0;
                &_heart {
                    position:relative;
                    left: 23px;
                }
                &_cup {
                    position: relative;
                    left: 27px;
                }
            }
        }
    }
}


//.menu {
//    margin: 0;
//    padding: 0;
//    text-align: center;
//    background: red; // red on small devices
//
//    @media @tablet {
//        background: green; // green on medium devices
//    }
//
//    @media @desktop {
//        background: blue; // blue on large devices
//    }
//
//    &__item {
//        display: inline-block;
//        list-style-type: none;
//    }
//
//    &__link {
//        color: #FFF;
//    }
//
//    // Bottom Menu
//    &_bottom { // BEM modifier example
//        background: green;
//    }
//
//    &_bottom &__link {
//        color: #f00;
//    }
//}


