<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <link rel='stylesheet' href='css/main.css'>
</head>
<body>
<!--START HEADER-->
<header class='header'>
    <div class='container container__header'>
        <div class='header__block header__logo-shop'>
            <a href='#' class='header__link'>
                <img class='header__img-shop' src='img/the_shop_logo.svg' alt='the_shop_logo'>
            </a>
        </div>
        <div class='header__block header__logo-oggetto'>
            <a href='#' class='header__link'>
                <img class='header__img-oggetto' src='img/oggetto_logo.svg' alt='oggetto_logo'>
            </a>
        </div>
        <div class='header__block header__block-phone'>
            <a href="tel:+7(812)2128506" class='header__link header__text-phone'>+7 (812) 2•12•85•06</a>
        </div>
    </div>
    <div class='container__navigation'>
        <div class='container'>
            <% const navigation = ['LISP', 'OCaml', 'JavaScript', 'Python', 'PHP'] %>
            <nav class='navigation'>
                <ul class='navigation__items'>
                    <% navigation.forEach(function(item) { %>
                    <li class='navigation__item'>
                        <a href='#' class='navigation__link'><%= item %></a>
                    </li>
                    <% }); %>
                </ul>
            </nav>
            <input type='text' class='navigation__search'>
        </div>
    </div>
</header>
<!--END HEADER-->
<!--START CONTENT-->
<div class='product container'>
    <!--START PRODUCT-WAY-->
    <div class='product__way'>
        <% const way = ['LISP', 'Одежда', 'Футболки'] %>
        <ul class='product__items'>
            <% way.forEach(function(item, index) { %>
            <li class='product__item'>
                <a href='#' class='product__link'><%= item %></a>
                <% if (index !== way.length - 1 ) { %>
                /
                <% } %>
            </li>
            <% }); %>
        </ul>
    </div>
    <!--END PRODUCT-WAY-->
</div>
<!--END CONTENT-->
<!--START FOOTER-->
<footer class='footer'>
</footer>
<!--END FOOTER-->

<script src="js/scripts.js"></script>
</body>
</html>
